<nz-card>
    <nz-steps>
        <!-- status finish | process | wait | finish -->
        <nz-step [nzTitle]="'FLIGHT_STEPS.FLIGHTS' | translate" nzStatus="{{steps1}}" nzIcon="rocket"></nz-step>
        <nz-step [nzTitle]="'FLIGHT_STEPS.PASSENGERS' | translate" nzStatus="{{steps2}}" nzIcon="team"></nz-step>
        <nz-step [nzTitle]="'FLIGHT_STEPS.SEATS' | translate" nzStatus="{{steps4}}" nzIcon="rest"></nz-step>
        <nz-step [nzTitle]="'FLIGHT_STEPS.PAYMENT' | translate" nzStatus="{{steps5}}" nzIcon="credit-card"></nz-step>
        <nz-step [nzTitle]="'FLIGHT_STEPS.DONE' | translate" nzStatus="{{steps6}}" [nzIcon]="iconTemplate"></nz-step>
        <ng-template #iconTemplate><span nz-icon nzType="check-circle"></span></ng-template>
      </nz-steps>
</nz-card>
<br>