<nz-card>
    <nz-steps>
        <!-- status finish | process | wait | finish -->
        <nz-step nzTitle="Uçuşlar" nzStatus="{{steps1}}" nzIcon="rocket"></nz-step>
        <nz-step nzTitle="Yolcular" nzStatus="{{steps2}}" nzIcon="team"></nz-step>
        <nz-step nzTitle="Ek Hizmetler" nzStatus="{{steps3}}" nzIcon="shopping-cart"></nz-step>
        <nz-step nzTitle="Koltuklar" nzStatus="{{steps4}}" nzIcon="rest"></nz-step>
        <nz-step nzTitle="Ödeme" nzStatus="{{steps5}}" nzIcon="credit-card"></nz-step>
        <nz-step nzTitle="Onay" nzStatus="{{steps6}}" [nzIcon]="iconTemplate"></nz-step>
        <ng-template #iconTemplate><span nz-icon nzType="check-circle"></span></ng-template>
      </nz-steps>
</nz-card>
<br>