<h3 style="color: var(--title-text-color); display: flex; justify-content: center;" nz-typography>
  {{ 'BAGGAGE_ALLOWANCE.LUGGAGE_RIGHTS' | translate }}
</h3>
<br>
<p style="color: var(--subtitle-text-color)" nz-typography>
  {{ 'BAGGAGE_ALLOWANCE.LUGGAGE_INFO' | translate }}
</p>
<br>
<!-- Baggage Options -->
<!-- Domestic Flights -->
<nz-descriptions
  nzTitle="{{ 'BAGGAGE_ALLOWANCE.BAGGAGE_OPTIONS_DOMESTIC' | translate }}"
  nzBordered
  [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 2, sm: 2, xs: 1 }"
>
  <nz-descriptions-item nzTitle="{{ 'BAGGAGE_ALLOWANCE.LIGHT_PACKAGE' | translate }}">{{ 'BAGGAGE_ALLOWANCE.WEIGHT_0KG' | translate }} - {{ 'BAGGAGE_ALLOWANCE.PRICE_STARTING_FROM' | translate }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="{{ 'BAGGAGE_ALLOWANCE.SUPER_ECO_PACKAGE' | translate }}">{{ 'BAGGAGE_ALLOWANCE.WEIGHT_0KG' | translate }} - {{ 'BAGGAGE_ALLOWANCE.PRICE_STARTING_FROM' | translate }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="{{ 'BAGGAGE_ALLOWANCE.ADVANTAGE_PACKAGE' | translate }}">{{ 'BAGGAGE_ALLOWANCE.WEIGHT_0KG' | translate }} - {{ 'BAGGAGE_ALLOWANCE.PRICE_STARTING_FROM' | translate }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="{{ 'BAGGAGE_ALLOWANCE.COMFORT_FLEX_PACKAGE' | translate }}">{{ 'BAGGAGE_ALLOWANCE.WEIGHT_0KG' | translate }} - {{ 'BAGGAGE_ALLOWANCE.PRICE_STARTING_FROM' | translate }}</nz-descriptions-item>
</nz-descriptions>
<br>
<!-- International Flights -->
<nz-descriptions
  nzTitle="{{ 'BAGGAGE_ALLOWANCE.BAGGAGE_OPTIONS_INTERNATIONAL' | translate }}"
  nzBordered
  [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 2, sm: 2, xs: 1 }"
>
  <nz-descriptions-item nzTitle="{{ 'BAGGAGE_ALLOWANCE.LIGHT_PACKAGE' | translate }}">{{ 'BAGGAGE_ALLOWANCE.WEIGHT_0KG' | translate }} - {{ 'BAGGAGE_ALLOWANCE.PRICE_STARTING_FROM' | translate }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="{{ 'BAGGAGE_ALLOWANCE.SUPER_ECO_PACKAGE' | translate }}">{{ 'BAGGAGE_ALLOWANCE.WEIGHT_0KG' | translate }} - {{ 'BAGGAGE_ALLOWANCE.PRICE_STARTING_FROM' | translate }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="{{ 'BAGGAGE_ALLOWANCE.ADVANTAGE_PACKAGE' | translate }}">{{ 'BAGGAGE_ALLOWANCE.WEIGHT_0KG' | translate }} - {{ 'BAGGAGE_ALLOWANCE.PRICE_STARTING_FROM' | translate }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="{{ 'BAGGAGE_ALLOWANCE.COMFORT_FLEX_PACKAGE' | translate }}">{{ 'BAGGAGE_ALLOWANCE.WEIGHT_0KG' | translate }} - {{ 'BAGGAGE_ALLOWANCE.PRICE_STARTING_FROM' | translate }}</nz-descriptions-item>
</nz-descriptions>
<br/>
<h3 style="color: var(--title-text-color)" nz-typography>
  {{ 'BAGGAGE_ALLOWANCE.BAGGAGE_RIGHTS_RULES' | translate }}
</h3>
<p style="color: var(--subtitle-text-color)" nz-typography>
  {{ 'BAGGAGE_ALLOWANCE.BAGGAGE_RIGHTS_INFO' | translate }}
</p>
<nz-divider></nz-divider>
<br />
<h3 style="color: var(--title-text-color)" nz-typography>
  {{ 'BAGGAGE_ALLOWANCE.BAGGAGE_POLICY_DETAILS' | translate }}
</h3>
<ul *ngFor="let item of 'BAGGAGE_ALLOWANCE.BAGGAGE_RULES' | translate">
  <li style="color: var(--subtitle-text-color)" nz-typography>{{ item }}</li>
</ul>
<br>