<h3 style="color: var(--title-text-color); display: flex; justify-content: center;" nz-typography>
  Bagaj Hakkı
</h3>
<br>
<p style="color: var(--subtitle-text-color)" nz-typography>
  Seyahatiniz sırasında rahatlığınızı sağlamak için bagaj hakkınızı bilmek önemlidir. Ücretsiz el bagajı hakkınız, uçuş sınıfınıza bağlı olarak belirli ölçü ve ağırlık sınırlarıyla sunulur, ayrıca kişisel eşyalarınızı da taşıyabilirsiniz. Kayıtlı bagaj hakkınız ise, genellikle 20 kg ile 30 kg arasında değişir; fazla bagaj için ek ücret uygulanabilir. Özel eşyalar ve spor ekipmanları için önceden bilgi vererek uygun taşıma düzenlemeleri yapabilirsiniz. Bagajınızın kaybolması veya hasar görmesi durumunda, havaalanı yetkilileri ve müşteri hizmetlerimiz size yardımcı olacaktır. Bagaj hakkınızla ilgili daha fazla bilgi için Bagaj Politikamız sayfasını ziyaret edebilirsiniz.
</p>
  <br>
<!-- Baggage Options -->
<!-- İç Hatlar -->
<nz-descriptions
  nzTitle="Bagaj Tercihleri - İç Hatlar"
  nzBordered
  [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 2, sm: 2, xs: 1 }"
>
  <nz-descriptions-item nzTitle="LIGHT PAKET">0 KG - 229,99 ₺’den başlayan fiyatlarla</nz-descriptions-item>
  <nz-descriptions-item nzTitle="SÜPER EKO PAKET">20 KG - 229,99 ₺’den başlayan fiyatlarla</nz-descriptions-item>
  <nz-descriptions-item nzTitle="AVANTAJ PAKET">20 KG - 229,99 ₺’den başlayan fiyatlarla</nz-descriptions-item>
  <nz-descriptions-item nzTitle="COMFORT FLEX PAKET">20 KG - 229,99 ₺’den başlayan fiyatlarla</nz-descriptions-item>
</nz-descriptions>
<br>
<!-- Dış Hatlar -->
<nz-descriptions
  nzTitle="Bagaj Tercihleri - Dış Hatlar"
  nzBordered
  [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 2, sm: 2, xs: 1 }"
>
  <nz-descriptions-item nzTitle="LIGHT PAKET">0 KG - 229,99 ₺’den başlayan fiyatlarla</nz-descriptions-item>
  <nz-descriptions-item nzTitle="SÜPER EKO PAKET">20 KG - 229,99 ₺’den başlayan fiyatlarla</nz-descriptions-item>
  <nz-descriptions-item nzTitle="AVANTAJ PAKET">20 KG - 229,99 ₺’den başlayan fiyatlarla</nz-descriptions-item>
  <nz-descriptions-item nzTitle="COMFORT FLEX PAKET">20 KG - 229,99 ₺’den başlayan fiyatlarla</nz-descriptions-item>
</nz-descriptions>
<!-- Baggage Descriptions -->
<br/>
<h3 style="color: var(--title-text-color)" nz-typography>
  Bagaj Hakları & Kuralları
</h3>
<p style="color: var(--subtitle-text-color)" nz-typography>
  Seyahatiniz boyunca bagaj haklarınızı bilmek, yolculuğunuzu daha rahat ve sorunsuz geçirebilmeniz için önemlidir.
</p>
<nz-divider></nz-divider>
<br />
<h3 style="color: var(--title-text-color)" nz-typography>
  Bagaj hakkı politikamızla ilgili detaylar:
</h3>
<ul *ngFor="let item of data">
  <li style="color: var(--subtitle-text-color)" nz-typography>{{ item }}</li>
</ul>
<br>