<h3 style="color: var(--title-text-color); display: flex; justify-content: center;" nz-typography>
    Antalya (AYT) Seyehatin İçin Şehir Bilgilendirmesi
  </h3>
  <br>
  <h4 style="color: var(--subtitle-text-color); display: flex; justify-content: center;" nz-typography>
    Yaz, güneş, plaj. yalnızca tatil!
  </h4>
  <br>
<!-- Old (nz-statistic) -->
<div nz-row [nzGutter]="[16,16]">
    <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
      <nz-card class="stat-card">
        <div>
          <nz-statistic nzValue="20,909 km²" [nzTitle]="'Yüz Ölçümü'"></nz-statistic>
        </div>
        <ng-template #loading><nz-skeleton [nzActive]="true"  [nzParagraph]="{ rows: 1 }"></nz-skeleton></ng-template>
      </nz-card>
    </div>
    <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
        <nz-card class="stat-card">
          <div>
            <nz-statistic nzValue="2,288,456" [nzTitle]="'Nüfus'"></nz-statistic>
          </div>
          <ng-template #loading><nz-skeleton [nzActive]="true"  [nzParagraph]="{ rows: 1 }"></nz-skeleton></ng-template>
        </nz-card>
      </div>
      <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
        <nz-card class="stat-card">
          <div>
            <nz-statistic nzValue="(+90) 242" [nzTitle]="'Telefon Kodu'"></nz-statistic>
          </div>
          <ng-template #loading><nz-skeleton [nzActive]="true"  [nzParagraph]="{ rows: 1 }"></nz-skeleton></ng-template>
        </nz-card>
      </div>
    <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
      <nz-card class="stat-card">
        <div>
          <nz-statistic nzValue="Akdeniz" [nzTitle]="'Bölge'"></nz-statistic>
        </div>
        <ng-template #loading><nz-skeleton [nzActive]="true"  [nzParagraph]="{ rows: 1 }"></nz-skeleton></ng-template>
      </nz-card>
    </div>
  </div>
  <br>
  <br>
<!-- P1 -->
<p style="color: var(--subtitle-text-color)" nz-typography>
  Antalya, Türkiye'nin güney kıyısında yer alan muazzam güzellikte bir tatil cennetidir; bembeyaz plajları ve turkuaz deniziyle ünlü olup, tarihi Kaleiçi sokaklarından antik Perge ve Aspendos kalıntılarına kadar zengin bir kültürel mirasa sahiptir. Akdeniz ikliminin sunduğu mükemmel hava koşulları ve doğal güzellikleriyle dikkat çeken Antalya, ayrıca hareketli gece hayatı, şık restoranları ve alışveriş fırsatlarıyla da tatilcilerin gözdesidir. Doğaseverler için Düden ve Manavgat Şelaleleri gibi doğal harikalar ve çeşitli açık hava aktiviteleri, bu güzel şehri unutulmaz bir destinasyon yapar.
  </p>
  <nz-divider></nz-divider>
<br>
<!-- Image List -->
<div style="display: flex; justify-content: space-around;">

@for (item of items; track $index) {
  <nz-card nzHoverable style="width: 30%" [nzCover]="coverTemplate">
    <nz-card-meta nzTitle="{{item.title}}" nzDescription="{{item.subtitle}}"></nz-card-meta>
  </nz-card>
  <ng-template #coverTemplate>
    <img alt="{{item.title}}" src="{{item.image}}" />
  </ng-template>
}
</div>

<br>
<!-- P2 -->
<h4 style="color: var(--subtitle-text-color); display: flex; justify-content: center;" nz-typography>
  Antalya’nın Tarihi ve Kültürel Zenginlikleri
  </h4>
  <br>
  <p style="color: var(--subtitle-text-color)" nz-typography>
    Antalya, Türkiye'nin güney kıyısında, tarihi ve kültürel zenginlikleriyle ünlü bir şehir olarak öne çıkar. Kaleiçi'nin dar sokaklarında yürüyüş yaparak Osmanlı dönemine ait yapıları keşfedebilir, şehrin tarihine dair izler bulabilirsiniz. Ayrıca, Roma dönemine ait kalıntılara ev sahipliği yapan Perge ve Aspendos antik kentleri, bölgenin tarihi mirasını gözler önüne serer. Antalya Müzesi ise, bölgenin arkeolojik buluntularını ve tarihini sergileyen önemli bir kültürel mekandır. Şehir, tarihi dokusunu modern yaşamla harmanlayan bir atmosfer sunar.  </p>
  <nz-divider></nz-divider>
  <br>
  <!-- P3 -->
  <h4 style="color: var(--subtitle-text-color); display: flex; justify-content: center;" nz-typography>
    Antalya’nın Doğal Güzellikleri ve Tatil Olanakları
  </h4>
  <br>
  <p style="color: var(--subtitle-text-color)" nz-typography>
    Antalya, muazzam doğal güzellikleri ve tatil olanakları ile dikkat çeker. Bembeyaz plajları ve turkuaz deniziyle ünlü Lara Plajı ve Konyaaltı Plajı, güneşlenmek ve denizin tadını çıkarmak için mükemmel yerlerdir. Düden ve Manavgat şelaleleri gibi doğal harikalar, ziyaretçilere huzur dolu anlar sunar. Ayrıca, Antalya'nın çevresindeki Çıralı ve Olimpos gibi tatil beldeleri, doğal güzellikleri ve dinlendirici atmosferleriyle bilinir. Şehir, hem tarihi hem de doğal güzellikleriyle tatilciler için unutulmaz bir deneyim sunar.  </p>
<br>