<h3 style="color: var(--title-text-color); display: flex; justify-content: center;" nz-typography>
    Profilim
  </h3>
  <div style="display: flex; justify-content: center;" *ngIf="userPhotos"> <!--profile-->
  <!--<img *ngIf="userService.userPictureSubject.value" [src]="userService.userPictureSubject.value" alt="foto" />-->
  <img src="https://cdn-icons-png.freepik.com/512/6997/6997519.png" /> <!--Man-->
  <!--<img src="https://cdn-icons-png.flaticon.com/512/219/219984.png" /> --><!--Woman-->
  <!--<img *ngIf="this.user?.gender !== 'K'" src="assets/images/blank-man.png" />
  <img *ngIf="this.user?.gender === 'K'" src="assets/images/blank-woman.png" />-->
</div>
<div style="display: flex; justify-content: center; padding: 8px;" *ngIf="!userPhotos">
  <img src="https://cdn-icons-png.flaticon.com/512/5158/5158652.png" />
</div>
<br>
<div *ngIf="profileRate != 100" style="background-color: var(--primary-color); padding: 16px; border-radius: 10px; ">
    <p style="color: white; display: flex; justify-content: center;" nz-typography>
        Bilet alırken hızlı işlem yapabilmeniz için profilinizdeki bilgileri doldurmanızı öneririz.
      </p>
      <nz-progress nzStrokeColor="var(--announcement-color)" [nzPercent]="profileRate"></nz-progress>
    </div>
  <br>
  <br>
  <nz-content style="display: flex; justify-content: center;">
<!-- Table -->
<nz-table #nzTable nzShowPagination="false" [nzData]="data">
  <thead style="display: none;">
    <tr>
      <th style="background-color: var(--card-color)" >
        <span style="color: var(--title-text-color)"></span>
      </th>
      <th style="background-color: var(--card-color)">
        <span style="color: var(--title-text-color)"></span>
      </th>
      <th style="background-color: var(--card-color)">
        <span style="color: var(--title-text-color)"></span>
      </th>
    </tr>
  </thead>
  <tbody>
    @for (data of nzTable.data; track data) {
    <tr>
      <td>
        <span style="color: var(--subtitle-text-color)">{{
          data.title
        }}</span>
      </td>
      <td>
        <span style="color: var(--subtitle-text-color)">{{
          data.desc
        }}</span>
      </td>
      <td>
        <span (click)="edit(data.title, data.desc)" nz-icon nzType="edit" nzTheme="outline"></span>
      </td>
    </tr>
    }
  </tbody>
</nz-table>
  </nz-content>
  <br>