img {
     width: 10%;
  }

  nz-card {
    border-radius: 10px;
    background-color: var(--card-color);
  }

  nz-card.ant-card.ant-card-bordered {
    width: 75%;
}

::ng-deep .ant-descriptions-title{
  color: var(--title-text-color);
}

::ng-deep td.ant-descriptions-item-content {
  color: var(--title-text-color);
}

::ng-deep thead {
  display: none;
}

::ng-deep nz-table.ant-table-wrapper {
  width: 100%;
}

::ng-deep tr.ant-table-row.ng-star-inserted {
  background-color: var(--card-color);
}

::ng-deep span.anticon.anticon-edit {
  color: var(--edit-color);
}