<h3 style="color: var(--title-text-color); display: flex; justify-content: center;" nz-typography>
    Profilim
  </h3>
<!--Profile Photo-->
<div  *ngIf="user" class="pp-container">
  <div style="display: flex; flex-direction: column; justify-content: center; padding: 8px; width: 25%;">
    <img src="{{profilePhoto}}" /> 
    <br>
      <input type="file" id="fileInput" #fileInput>
      <button nz-button style="background-color: var(--primary-color); color: #fff; padding-top: 4px;" (click)="uploadPhoto(fileInput)">Yükle</button>
  </div>
</div>
<br>
<div *ngIf="profileRate != 100 && user" style="background-color: var(--primary-color); padding: 16px; border-radius: 10px; ">
    <p style="color: white; display: flex; justify-content: center;" nz-typography>
        Bilet alırken hızlı işlem yapabilmeniz için profilinizdeki bilgileri doldurmanızı öneririz.
      </p>
      <nz-progress nzStrokeColor="var(--announcement-color)" [nzPercent]="profileRate"></nz-progress>
    </div>
  <br>
  <br>
  <nz-empty *ngIf="!user"
  nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
  [nzNotFoundContent]="contentTpl"
  [nzNotFoundFooter]="footerTpl"
>
  <ng-template #contentTpl>
    <span style="color: var(--title-text-color);">
      Profilinizi oluşturmak için lütfen giriş yapınız.
    </span>
  </ng-template>
  <ng-template #footerTpl>
    <button style="background-color: var(--primary-color);" nz-button nzType="primary" routerLink="/user/login">Giriş Yap</button>
  </ng-template>
</nz-empty>
  <nz-content style="display: flex; justify-content: center;">
<!-- Table -->
<nz-table *ngIf="user" #nzTable nzShowPagination="false" [nzData]="data">
  <thead style="display: none;">
    <tr>
      <th style="background-color: var(--card-color)" >
        <span style="color: var(--title-text-color)"></span>
      </th>
      <th style="background-color: var(--card-color)">
        <span style="color: var(--title-text-color)"></span>
      </th>
      <th style="background-color: var(--card-color)">
        <span style="color: var(--title-text-color)"></span>
      </th>
    </tr>
  </thead>
  <tbody>
    @for (data of nzTable.data; track data) {
    <tr>
      <td>
        <span style="color: var(--subtitle-text-color)">{{
          data.title
        }}</span>
      </td>
      <td>
        <span style="color: var(--subtitle-text-color)">{{
          data.desc
        }}</span>
      </td>
      <td>
        <span (click)="edit(data.title, data.desc)" nz-icon nzType="edit" nzTheme="outline"></span>
      </td>
    </tr>
    }
  </tbody>
</nz-table>
  </nz-content>
  <br>