

  nz-card {
    border-radius: 10px;
    background-color: var(--card-color);
  }

  nz-card.ant-card.ant-card-bordered {
    width: 75%;
}

::ng-deep .ant-descriptions-title{
  color: var(--title-text-color);
}

::ng-deep td.ant-descriptions-item-content {
  color: var(--title-text-color);
}

::ng-deep thead {
  display: none;
}

::ng-deep nz-table.ant-table-wrapper {
  width: 100%;
}

::ng-deep tr.ant-table-row.ng-star-inserted {
  background-color: var(--card-color);
}

::ng-deep span.anticon.anticon-edit {
  color: var(--edit-color);
}

.pp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin: 0 auto;
}

.pp-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px; /* Default width for smaller screens */
}

.pp-image {
  width: 100%;
  max-width: 150px; /* Restrict max width for the image */
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}

.file-input {
  margin-top: 12px;
}

.upload-button {
  background-color: var(--primary-color);
  color: #fff;
  margin-top: 8px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


::ng-deep button.ant-btn.upload-button {
  width: 50%;
  background-color: var(--primary-color);
  color: #fff;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .pp-content {
    max-width: 400px; /* For tablets and larger screens */
  }

  .pp-image {
    max-width: 200px;
  }

  .upload-button {
    padding: 10px 20px;
  }
}

@media (min-width: 1024px) {
  .pp-content {
    max-width: 600px; /* For desktop screens */
  }

  .pp-image {
    max-width: 250px;
  }

  .upload-button {
    padding: 12px 24px;
  }
}
