<div nz-row [nzGutter]="[16,16]">
  <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="16" nzLg="8" nzXl="6">
    <nz-card>
      <div style="display: flex; flex-direction: column;">
        <span style="color: var(--subtitle-text-color); font-weight: 400; padding-bottom: 4px; font-size: medium;">
          {{ 'CUSTOMER_STATS.PASSENGER_COUNT' | translate }}
        </span>
        <span style="color: var(--title-text-color); font-weight: 500; font-size: x-large;" [countUp]="1500000" [duration]="1000"></span>
        <span style="color: var(--subtitle-text-color); font-size: x-small">
          {{ 'CUSTOMER_STATS.PASSENGER_DETAIL' | translate }}
        </span>
      </div>
    </nz-card>
  </div>

  <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="16" nzLg="8" nzXl="6">
    <nz-card>
      <div style="display: flex; flex-direction: column;">
        <span style="color: var(--subtitle-text-color); font-weight: 400; padding-bottom: 4px; font-size: medium;">
          {{ 'CUSTOMER_STATS.STAFF_COUNT' | translate }}
        </span>
        <span style="color: var(--title-text-color); font-weight: 500; font-size: x-large;" [countUp]="435500" [duration]="1000"></span>
        <span style="color: var(--subtitle-text-color); font-size: x-small">
          {{ 'CUSTOMER_STATS.STAFF_DETAIL' | translate }}
        </span>
      </div>
    </nz-card>
  </div>

  <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="16" nzLg="8" nzXl="6">
    <nz-card>
      <div style="display: flex; flex-direction: column;">
        <span style="color: var(--subtitle-text-color); font-weight: 400; padding-bottom: 4px; font-size: medium;">
          {{ 'CUSTOMER_STATS.SATISFACTION_RATE' | translate }}
        </span>
        <span style="color: var(--title-text-color); font-weight: 500; font-size: x-large;" [countUp]="4.7" [duration]="1000"></span>
        <span style="color: var(--subtitle-text-color); font-size: x-small">
          {{ 'CUSTOMER_STATS.SATISFACTION_DETAIL' | translate }}
        </span>
      </div>
    </nz-card>
  </div>

  <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="16" nzLg="8" nzXl="6">
    <nz-card>
      <div style="display: flex; flex-direction: column;">
        <span style="color: var(--subtitle-text-color); font-weight: 400; padding-bottom: 4px; font-size: medium;">
          {{ 'CUSTOMER_STATS.OCCUPANCY_RATE' | translate }}
        </span>
        <span>% <span style="color: var(--title-text-color); font-weight: 500; font-size: x-large;" [countUp]="85" [duration]="1000"></span> </span>
        <span style="color: var(--subtitle-text-color); font-size: x-small">
          {{ 'CUSTOMER_STATS.OCCUPANCY_DETAIL' | translate }}
        </span>
      </div>
    </nz-card>
  </div>
</div>
