<app-flight-header
  [title]="title"
  [subtitle]="subtitle"
  [price]="price"
></app-flight-header>
<br />
<app-flight-steps
  steps1="process"
  steps2="wait"
  steps3="wait"
  steps4="wait"
  steps5="wait"
  steps6="wait"
>
</app-flight-steps>
<br>
<h5
  style="color: var(--title-text-color); display: flex;"
  nz-typography
>
  Kalkış
</h5>
<h4
  style="color: var(--tips-text-color); display: flex;"
  nz-typography
>
  {{title}}
</h4>
<br>
<app-date-scroll (dateSelected)="onDateSelected($event)"></app-date-scroll>
