<!-- Title -->
<h3
  style="color: var(--title-text-color); display: flex; justify-content: center"
  nz-typography
>
{{ 'AIRPORT_INFO.TITLE' | translate }}
</h3>
<br />
<h5
  style="
    color: var(--subtitle-text-color);
    display: flex;
    justify-content: center;
  "
  nz-typography
>
{{ 'AIRPORT_INFO.DESCRIPTION' | translate }}

</h5>
<br />
<!-- Table -->
<nz-table #nzTable [nzData]="listOfDisplayData" nzTableLayout="fixed">
  <thead>
    <tr>
      <th style="background-color: var(--card-color)" nzCustomFilter>
        <span style="color: var(--title-text-color)">{{ 'AIRPORT_INFO.AIRPORT_NAME' | translate }}</span>
        <nz-filter-trigger
          [(nzVisible)]="visible"
          [nzActive]="searchValue.length > 0"
          [nzDropdownMenu]="menu"
        >
          <span nz-icon nzType="search"></span>
        </nz-filter-trigger>
      </th>
      <th style="background-color: var(--card-color)">
        <span style="color: var(--title-text-color)">{{ 'AIRPORT_INFO.AIRPORT_CODE' | translate }}</span>
      </th>
      <th style="background-color: var(--card-color)">
        <span style="color: var(--title-text-color)">{{ 'AIRPORT_INFO.AIRPORT_CITY' | translate }}</span>
      </th>
      <th style="background-color: var(--card-color)">
        <span style="color: var(--title-text-color)">{{ 'AIRPORT_INFO.AIRPORT_TERMINAL' | translate }}</span>
      </th>
    </tr>
  </thead>
  <tbody>
    @for (data of nzTable.data; track data) {
    <tr>
      <td>
        <span style="color: var(--subtitle-text-color)">{{
          data.airportName | translate
        }}</span>
      </td>
      <td>
        <span style="color: var(--subtitle-text-color)">{{
          data.airportCode
        }}</span>
      </td>
      <td>
        <span style="color: var(--subtitle-text-color)">{{ data.city }}</span>
      </td>
      <td>
        <span style="color: var(--subtitle-text-color)">{{
          data.terminal
        }}</span>
      </td>
    </tr>
    }
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        type="text"
        nz-input
        [placeholder]="'AIRPORT_INFO.PLACEHOLDER' | translate"
        [(ngModel)]="searchValue"
      />
      <button
      style="background-color: var(--primary-color);"
        nz-button
        nzSize="small"
        nzType="primary"
        (click)="search()"
        class="search-button"
      >
      {{ 'AIRPORT_INFO.SEARCH' | translate }}
      </button>
      <button nz-button nzSize="small" (click)="reset()">{{ 'AIRPORT_INFO.RESET' | translate }}</button>
    </div>
  </div>
</nz-dropdown-menu>
<div style="display: flex; flex-direction: column">
  <span nz-typography nzType="secondary"
    >{{ 'AIRPORT_INFO.TIPS1' | translate }}
    </span
  >
  <span nz-typography nzType="secondary"
    >{{ 'AIRPORT_INFO.TIPS2' | translate }}</span
  >
  <span nz-typography nzType="secondary"
    >{{ 'AIRPORT_INFO.TIPS3' | translate }}</span
  >
</div>
<br>
