<!-- Title -->
<h3
  style="color: var(--title-text-color); display: flex; justify-content: center"
  nz-typography
>
  {{ 'AIR_POINTS.TITLE1' | translate }}
</h3>
<br />
<p
  style="color: var(--subtitle-text-color); display: flex; justify-content: center"
  nz-typography
>
  {{ 'AIR_POINTS.DESCRIPTION1' | translate }}
</p>
<br />
<h3
  style="color: var(--title-text-color); display: flex; justify-content: center"
  nz-typography
>
  {{ 'AIR_POINTS.TITLE2' | translate }}
</h3>
<br />
<!-- Timeline -->
<nz-timeline nzMode="alternate">
  <nz-timeline-item>{{ 'AIR_POINTS.TIMELINE.STEP1' | translate }}</nz-timeline-item>
  <nz-timeline-item nzColor="green">{{ 'AIR_POINTS.TIMELINE.STEP2' | translate }}</nz-timeline-item>
  <nz-timeline-item nzColor="red">{{ 'AIR_POINTS.TIMELINE.STEP3' | translate }}</nz-timeline-item>
  <nz-timeline-item nzColor="purple">{{ 'AIR_POINTS.TIMELINE.STEP4' | translate }}</nz-timeline-item>
</nz-timeline>
<br />
<h3
  style="color: var(--title-text-color); display: flex; justify-content: center"
  nz-typography
>
  {{ 'AIR_POINTS.TITLE3' | translate }}
</h3>
<br />
<!-- AIR PUAN -->
<div nz-row [nzGutter]="[16,16]">
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="6">
    <nz-ribbon nzText="Bilet">
      <nz-card nzTitle="{{ 'AIR_POINTS.OPTIONS.TICKET' | translate }}" nzSize="small">
        {{ 'AIR_POINTS.OPTIONS_DESC.TICKET' | translate }}
      </nz-card>
    </nz-ribbon>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="6">
    <nz-ribbon nzText="Bagaj">
      <nz-card nzTitle="{{ 'AIR_POINTS.OPTIONS.BAGGAGE' | translate }}" nzSize="small">
        {{ 'AIR_POINTS.OPTIONS_DESC.BAGGAGE' | translate }}
      </nz-card>
    </nz-ribbon>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="6">
    <nz-ribbon nzText="Koltuk">
      <nz-card nzTitle="{{ 'AIR_POINTS.OPTIONS.SEAT' | translate }}" nzSize="small">
        {{ 'AIR_POINTS.OPTIONS_DESC.SEAT' | translate }}
      </nz-card>
    </nz-ribbon>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="6">
    <nz-ribbon nzText="Hizmet">
      <nz-card nzTitle="{{ 'AIR_POINTS.OPTIONS.SERVICE' | translate }}" nzSize="small">
        {{ 'AIR_POINTS.OPTIONS_DESC.SERVICE' | translate }}
      </nz-card>
    </nz-ribbon>
  </div>
</div>
<br>