<div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="8">
  <nz-card style="background-color: var(--card-color);">
    <div>
      <nz-tabset nzCentered [nzSelectedIndex]="1">
        <nz-tab class="removed"></nz-tab>
        <nz-tab nzTitle="Uçuş Ara">
            <div style="display: flex">
              <!-- Nereden -->
              <div class="flight-operations-item">
                <h4 nz-typography nzType="secondary"><span>Nereden</span></h4>
                <nz-cascader
                  [nzOptions]="nzOptions"
                  [(ngModel)]="values"
                  (ngModelChange)="onChanges($event)"
                ></nz-cascader>
              </div>
              <!-- Swap İcon -->
              <span (click)="swapValues()"
                style="padding: 32px 24px 0 0px"
                nz-icon
                nzType="swap"
                nzTheme="outline"
              ></span>
  
              <!-- Nereye -->
              <div class="flight-operations-item">
                <h4 nz-typography nzType="secondary"><span>Nereye</span></h4>
                <nz-cascader
                  [nzOptions]="nzOptions2"
                  [(ngModel)]="values2"
                  (ngModelChange)="onChanges2($event)"
                ></nz-cascader>
              </div>
  
              <div style="padding-left: 16px"></div>
  
              <!-- Tarih Seçimi -->
              <div class="flight-operations-item">
                <h4 nz-typography nzType="secondary"><span>Tarih</span></h4>
                @if(twoWays) {
                <nz-range-picker
                  [(ngModel)]="date"
                  (ngModelChange)="onChange($event)"
                ></nz-range-picker>
                } @else {
                <nz-date-picker
                  [(ngModel)]="date"
                  (ngModelChange)="onChange($event)"
                ></nz-date-picker>
                }
              </div>
  
              <div style="padding-left: 16px"></div>
  
              <label style="padding-top: 40px" nz-checkbox [(ngModel)]="twoWays"
                ><span>Çift Yön</span></label
              >
  
              <div style="padding-left: 16px"></div>
  
              <!-- Yolcu Seçimi -->
              <div class="flight-operations-item">
                <h4 nz-typography nzType="secondary"><span>Yolcu</span></h4>
                <button nz-button nzType="default" (click)="showModal2()">
                  <span *ngIf="adultNumberGlobal !== '0'"
                    >{{ adultNumberGlobal }} Yetişkin </span
                  >&nbsp;
                  <span *ngIf="childNumberGlobal !== '0'">
                    {{ childNumberGlobal }} Çocuk </span
                  >&nbsp;
                  <span *ngIf="babyNumberGlobal !== '0'">
                    {{ babyNumberGlobal }} Bebek</span
                  >
                </button>
              </div>
  
              <div style="padding-left: 16px"></div>
  
              <!-- Uçuş Ara -->
              <div style="padding-top: 30px">
                <button (click)="findFlight()" nz-button nzType="primary">
                  <span style="color: white" nz-icon nzType="search"></span>
                  Uçuş Ara
                </button>
              </div>
            </div>
        </nz-tab>
        <nz-tab nzTitle="Check-In">
          <form [formGroup]="form" (ngSubmit)="checkIn()" style="display: flex">
            <!-- Info Part -->
            <div class="flight-operations-item">
              <h3 nz-typography nzType="secondary">
                <span>Online Check In Yap</span>
              </h3>
              <h5 nz-typography nzType="secondary">
                <span>Havalimanında sıra bekleme, zaman kazan.</span>
              </h5>
            </div>
            <div style="padding-left: 16px"></div>
            <!-- Soyadı Input-->
            <div style="padding-top: 16px">
              <nz-input-group
                [nzSuffix]="suffixTemplateInfo"
                [nzPrefix]="prefixTemplateUser"
              >
                <input type="text" formControlName="lastName" nz-input placeholder="Yolcunun Soyadı" />
              </nz-input-group>
              <ng-template #prefixTemplateUser
                ><span nz-icon nzType="user"></span
              ></ng-template>
              <ng-template #suffixTemplateInfo>
                <span
                  nz-icon
                  nz-tooltip
                  nzTooltipTitle="Ör: YILMAZ"
                  nzType="info-circle"
                ></span>
              </ng-template>
            </div>
            <div style="padding-left: 16px"></div>
            <!-- PNR Input-->
            <div style="padding-top: 16px">
              <nz-input-group
                [nzSuffix]="suffixTemplateInfo2"
                [nzPrefix]="prefixTemplateUser"
              >
                <input
                  type="text"
                  nz-input
                  formControlName="pnrNo"
                  placeholder="Rezervasyon Kodu (PNR)"
                />
              </nz-input-group>
              <ng-template #prefixTemplateUser
                ><span nz-icon nzType="user"></span
              ></ng-template>
              <ng-template #suffixTemplateInfo2>
                <span
                  nz-icon
                  nz-tooltip
                  nzTooltipTitle="Ör: A1N2L3"
                  nzType="info-circle"
                ></span>
              </ng-template>
            </div>
            <div style="padding-left: 16px"></div>
            <!-- Check-In Ara -->
            <div style="padding-top: 16px">
              <button nz-button nzType="primary">
                <span
                  style="color: white"
                  nz-icon
                  nzType="arrow-right"
                  nzTheme="outline"
                ></span>
                Onayla
              </button>
            </div>
          </form>
        </nz-tab>
        <nz-tab nzTitle="Rezervasyonlarım"> 
            <div style="display: flex">
                <!-- Info Part -->
                <div class="flight-operations-item">
                  <h3 nz-typography nzType="secondary">
                    <span>Rezervasyon Öğren</span>
                  </h3>
                  <h5 nz-typography nzType="secondary">
                    <span>Online olarak uçuş rezervasyonunu öğren.</span>
                  </h5>
                </div>
                <div style="padding-left: 16px"></div>
                <!-- Soyadı Input-->
                <div style="padding-top: 16px">
                  <nz-input-group
                    [nzSuffix]="suffixTemplateInfo"
                    [nzPrefix]="prefixTemplateUser"
                  >
                    <input type="text" nz-input placeholder="Yolcunun Soyadı" />
                  </nz-input-group>
                  <ng-template #prefixTemplateUser
                    ><span nz-icon nzType="user"></span
                  ></ng-template>
                  <ng-template #suffixTemplateInfo>
                    <span
                      nz-icon
                      nz-tooltip
                      nzTooltipTitle="Ör: YILMAZ"
                      nzType="info-circle"
                    ></span>
                  </ng-template>
                </div>
                <div style="padding-left: 16px"></div>
                <!-- PNR Input-->
                <div style="padding-top: 16px">
                  <nz-input-group
                    [nzSuffix]="suffixTemplateInfo2"
                    [nzPrefix]="prefixTemplateUser"
                  >
                    <input
                      type="text"
                      nz-input
                      placeholder="Rezervasyon Kodu (PNR)"
                    />
                  </nz-input-group>
                  <ng-template #prefixTemplateUser
                    ><span nz-icon nzType="user"></span
                  ></ng-template>
                  <ng-template #suffixTemplateInfo2>
                    <span
                      nz-icon
                      nz-tooltip
                      nzTooltipTitle="Ör: A1N2L3"
                      nzType="info-circle"
                    ></span>
                  </ng-template>
                </div>
                <div style="padding-left: 16px"></div>
                <!-- Uçuş Ara -->
                <div style="padding-top: 16px">
                  <button (click)="findFlight()" nz-button nzType="primary">
                    <span
                      style="color: white"
                      nz-icon
                      nzType="arrow-right"
                      nzTheme="outline"
                    ></span>
                    Onayla
                  </button>
                </div>
              </div>
             </nz-tab>

      </nz-tabset>
    </div>
  </nz-card>
</div>
