<div style="display: flex; justify-content: center;">
    <div>
      <nz-card [nzCover]="coverTemplate">
        <div class="title">{{appName}}</div>
        <form
          nz-form
          [formGroup]="form"
          class="login-form"
          (ngSubmit)="submitForm()"
        >
          <nz-form-item>
            <nz-form-control>
              <nz-input-group nzPrefixIcon="mail">
                <input
                  type="email"
                  nz-input
                  formControlName="email"
                  placeholder="Email"
                />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
       
          <button
            nz-button
            class="login-form-button login-form-margin"
            [nzType]="'primary'"
            [disabled]="!form.valid"
          >
            Şifremi Sıfırla
          </button>
          <p style="color: var(--subtitle-text-color); display: flex; justify-content: center;" nz-typography>
            Şifrenizi hatırladınız mı?&nbsp; <a routerLink="/user/login">Giriş Yap</a> 
          </p>
          <p style="color: var(--subtitle-text-color); display: flex; justify-content: center;" nz-typography>
            Hesabınız yok mu?&nbsp; <a routerLink="/user/register">Kayıt Ol</a> 
          </p>
        </form>
      </nz-card>
      <ng-template #coverTemplate>
        <img style="padding: 10px;" alt="{{appName}}" src="https://www.pngkey.com/png/full/152-1525248_airplane-clipart-logo-flight-logo-clipart.png" />
      </ng-template>
    </div></div>
    <br>
    