<app-flight-steps
  steps1="wait"
  steps2="wait"
  steps4="wait"
  steps5="wait"
  steps6="finish"
>
</app-flight-steps>
<br>
<div id="pdf-content">
<!-- Success Mesajı -->
<nz-card class="payment-success-card">
    <div class="payment-success-container">
        <nz-avatar [nzSize]="64" nzIcon="check-circle"></nz-avatar>
        <div class="text-container">
            <span nz-typography class="payment-message">{{ 'FLIGHT_DONE.SUCCESS_ALERT' | translate }}</span>
            <span nz-typography class="pnr-message">
              {{ 'FLIGHT_DONE.PNR_INFO' | translate }} <span class="pnr-code">{{flight?.PNRNO}}</span>
            </span>
        </div>
    </div>
</nz-card>
<br>
<!-- Uçuş Bilgileri -->
<div class="flight-info-card">
    <div class="flight-info-container">
      <!-- Kalkış Bilgisi -->
      <div class="flight-detail">
        <div class="icon">✈️</div>
        <div class="time-location">
          <div class="time">
            <span class="time-highlight">{{flightHour}}</span>
          </div>
          <div class="location">
            {{flight?.fromCity}}
          </div>
          <div class="date">
            {{formattedDate}}
          </div>
        </div>
      </div>
  
      <!-- Yönlendirme Oku -->
      <div class="arrow-container">
        <div class="custom-arrow"></div>
      </div>
  
      <!-- Varış Bilgisi -->
      <div class="flight-detail">
        <div class="icon">✈️</div>
        <div class="time-location">
          <div class="time">
            <span class="time-highlight">{{flightHourTime}}</span>
          </div>
          <div class="location">
            {{ flight?.toCity}}
          </div>
          <div class="date">
            {{formattedDate}}
          </div>
        </div>
      </div>
    </div>
</div>
<br>
<!-- Yolcu Bilgileri -->
<nz-card class="payment-success-card">
    <div class="payment-success-container">
        <div class="text-container">
            <span nz-typography class="payment-message">{{ 'FLIGHT_DONE.PASSENGER_INFORMATION' | translate }}</span>
            <span nz-typography class="pnr-message">
                {{user?.firstName?.toUpperCase()}}&nbsp; {{user?.lastName?.toUpperCase()}}
            </span>
            <span nz-typography class="pnr-message">
                {{formattedPhone}}
            </span>
            <span nz-typography class="pnr-message">
                {{user?.email}}
            </span>
            <br>
            <div style="display: flex;">
                <span style="padding-right: 4px;" nz-icon nzType="file-pdf" nzTheme="outline"></span>
                <span nz-typography>{{ 'FLIGHT_DONE.DOWNLOAD1' | translate }} <a (click)="downloadPDF()">{{ 'FLIGHT_DONE.DOWNLOAD2' | translate }}</a></span>
            </div>
        </div>
    </div>
</nz-card>
<br>
<!-- Uçuş Bilgileri Genel -->
    <div class="flight-card">
        <span nz-typography class="info-title-label">
          {{ 'FLIGHT_DONE.TRIP_DETAILS' | translate }}
                </span>
                <br>
        <div class="flight-info">
          <div class="flight-row">
            <div class="info-label">{{ 'FLIGHT_DONE.FROM' | translate }}</div>
            <div class="info-value">{{flight?.fromCity}}</div>
          </div>
          <div class="flight-row">
            <div class="info-label">{{ 'FLIGHT_DONE.DEPARTURE_TIME' | translate }}</div>
            <div class="info-value">{{flightFullTime}}</div>
          </div>
          <div class="flight-row">
            <div class="info-label">{{ 'FLIGHT_DONE.TO' | translate }}</div>
            <div class="info-value">{{flight?.toCity}}</div>
          </div>
          <div class="flight-row">
            <div class="info-label">{{ 'FLIGHT_DONE.ARRIVAL_TIME' | translate }}</div>
            <div class="info-value">{{flightFullTimeArrive}}</div>
          </div>
          <div class="flight-row">
            <div class="info-label">{{ 'FLIGHT_DONE.FLIGHT_NO' | translate }}</div>
            <div class="info-value">PC2024</div>
          </div>
          <div class="flight-row">
            <div class="info-label">{{ 'FLIGHT_DONE.TICKET_NO' | translate }}</div>
            <div class="info-value">{{ticketNo}}</div>
          </div>
          <div class="flight-row">
            <div class="info-label">{{ 'FLIGHT_DONE.VALIDITY_DATE' | translate }}</div>
            <div class="info-value">05/04/2025</div>
          </div>
        </div>
      
        <div class="extra-services">
          <h3 class="info-value">{{ 'FLIGHT_DONE.PACKAGE_TYPE' | translate }}</h3>
          <p class="info-value">{{flight?.packageFirst}} {{ 'FLIGHT_DONE.PACKAGE_DESC' | translate }}</p>
          <div class="baggage-info">
            <div *ngIf="flight?.packageFirst === 'Eco'">{{ 'FLIGHT_DONE.TYPE1' | translate }}</div>
            <div *ngIf="flight?.packageFirst === 'Classic'">{{ 'FLIGHT_DONE.TYPE2' | translate }}</div>
            <div *ngIf="flight?.packageFirst === 'Premium'">{{ 'FLIGHT_DONE.TYPE3' | translate }}</div>
            <div>{{ 'FLIGHT_DONE.CABIN_BAGGAGE' | translate }}</div>
          </div>
        </div>
      
        <div *ngIf="flight?.flexFirst" class="warning">
          {{ 'FLIGHT_DONE.TIPS1' | translate }}
        </div>
        <div *ngIf="!flight?.flexFirst" class="warning">
          {{ 'FLIGHT_DONE.TIPS2' | translate }}
          </div>
      </div>
</div>

<br>
  


  