<app-flight-header
  [title]="title"
  [subtitle]="subtitle"
  [price]="price"
></app-flight-header>
<br />
<app-flight-steps
  steps1="wait"
  steps2="process"
  steps4="wait"
  steps5="wait"
  steps6="wait"
>
</app-flight-steps>
<br>
<nz-empty *ngIf="!cUser"
nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
[nzNotFoundContent]="contentTpl"
[nzNotFoundFooter]="footerTpl"
>
<ng-template #contentTpl>
  <span style="color: var(--title-text-color);">
    {{ 'PASSENGER_INFORMATION.LOGIN_TIPS' | translate }}
  </span>
</ng-template>
<ng-template #footerTpl>
  <button style="background-color: var(--primary-color);" nz-button nzType="primary" routerLink="/user/login">{{ 'PASSENGER_INFORMATION.LOGIN' | translate }}</button>
</ng-template>
</nz-empty>
<br>
<nz-card>
    <h4 style="color: var(--title-text-color); display: flex; justify-content: center;" nz-typography>
      {{ 'PASSENGER_INFORMATION.PERSONAL_INFO' | translate }}
      </h4>
      <br>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <!--firstname-->
        <nz-form-item>
            <nz-form-label
              [nzSm]="6"
              [nzXs]="24"
              nzFor="firstname"
              nzRequired
            >
              <span>{{ 'PASSENGER_INFORMATION.NAME' | translate }}</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="'PASSENGER_INFORMATION.NAME_ERROR' | translate">
              <input nz-input id="firstname" formControlName="firstname" />
            </nz-form-control>
          </nz-form-item>
          <!--lastname-->
        <nz-form-item>
            <nz-form-label
              [nzSm]="6"
              [nzXs]="24"
              nzFor="lastname"
              nzRequired
            >
              <span>{{ 'PASSENGER_INFORMATION.LASTNAME' | translate }}</span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="'PASSENGER_INFORMATION.LASTNAME_ERROR' | translate">
              <input nz-input id="lastname" formControlName="lastname" />
            </nz-form-control>
          </nz-form-item>
          <!--gender-->
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="gender" nzRequired>{{ 'PASSENGER_INFORMATION.GENDER' | translate }}</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="'PASSENGER_INFORMATION.GENDER_ERROR' | translate">
              <nz-select
                id="gender"
                formControlName="gender"
                nzPlaceHolder="'PASSENGER_INFORMATION.GENDER_PLACEHOLDER' | translate"
              >
                <nz-option nzValue="Erkek" [nzLabel]="'PASSENGER_INFORMATION.MALE' | translate"></nz-option>
                <nz-option nzValue="Kadın" [nzLabel]="'PASSENGER_INFORMATION.FEMALE' | translate"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        <!--email-->
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">{{ 'PASSENGER_INFORMATION.EMAIL' | translate }}</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="'PASSENGER_INFORMATION.EMAIL_ERROR' | translate">
            <input nz-input formControlName="email" id="email" />
          </nz-form-control>
        </nz-form-item>
           <!--phone-->
           <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>{{ 'PASSENGER_INFORMATION.PHONE_NUMBER' | translate }}</nz-form-label>
            <nz-form-control
              [nzSm]="14"
              [nzXs]="24"
              [nzValidateStatus]="validateForm.controls['phoneNumber']"
              [nzErrorTip]="'PASSENGER_INFORMATION.PHONE_NUMBER_ERROR' | translate"
            >
              <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                <ng-template #addOnBeforeTemplate>
                  <nz-select formControlName="phoneNumberPrefix" class="phone-select">
                    <nz-option nzLabel="+90" nzValue="+90"></nz-option>
                    <nz-option nzLabel="+87" nzValue="+87"></nz-option>
                  </nz-select>
                </ng-template>
                <input formControlName="phoneNumber" id="'phoneNumber'" nz-input />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <!--birth-->
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="birth">{{ 'PASSENGER_INFORMATION.BIRTH' | translate }}</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="'PASSENGER_INFORMATION.BIRTH_ERROR' | translate">
              <nz-date-picker formControlName="birth"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        <!--nationality-->
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nationality" nzRequired>{{ 'PASSENGER_INFORMATION.NATIONALITY' | translate }}</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="'PASSENGER_INFORMATION.NATIONALITY_ERROR' | translate">
            <input nz-input id="nationality" formControlName="nationality" [placeholder]="'PASSENGER_INFORMATION.NATIONALITY_PLACEHOLDER' | translate" />
          </nz-form-control>
        </nz-form-item>
        <!--tc-->
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="tc">{{ 'PASSENGER_INFORMATION.TCID' | translate }}</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="'PASSENGER_INFORMATION.TCID_ERROR' | translate">
              <input maxlength="11" minlength="11" nz-input id="tc" formControlName="tc" [placeholder]="'PASSENGER_INFORMATION.TCID_PLACEHOLDER' | translate" />
            </nz-form-control>
          </nz-form-item>
        <!--agreement-->
        <nz-form-item nz-row class="register-area">
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <label nz-checkbox formControlName="agree">
              <span style="color: var(--title-text-color);">
                {{ 'PASSENGER_INFORMATION.AGREE1' | translate }}
                <a>{{ 'PASSENGER_INFORMATION.AGREE2' | translate }}</a>
              </span>
            </label>
          </nz-form-control>
        </nz-form-item>
        <!--button-->
        <nz-form-item nz-row class="register-area">
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button [disabled]="validateForm.invalid" nz-button nzType="primary">{{ 'PASSENGER_INFORMATION.CONTINUE' | translate }}</button>
          </nz-form-control>
        </nz-form-item>
      </form>
</nz-card>
<br>
