<!-- Title -->
<h3
  style="color: var(--title-text-color); display: flex; justify-content: center"
  nz-typography
>
  Genel Kurallar
</h3>
<br />
<p
  style="
    color: var(--subtitle-text-color);
    display: flex;
    justify-content: center;
  "
  nz-typography
>
Hoş geldiniz! Bu sayfada, hizmetlerimizi kullanırken uymanız gereken genel kurallar ve politikalar hakkında bilgi bulabilirsiniz. Bu kurallar, güvenliğiniz, konforunuz ve adil bir deneyim için önemlidir. Lütfen aşağıdaki kuralları dikkatlice inceleyin.
</p>
<br />
<!-- Collapse -->
<nz-collapse>
    @for (panel of panels; track panel) {
      <nz-collapse-panel [nzHeader]="panel.name" [nzActive]="panel.active" [nzDisabled]="panel.disabled">
        <p style="margin:0; color: var(--subtitle-text-color);">
          {{panel.desc}}
        </p>
      </nz-collapse-panel>
    }
  </nz-collapse>
  <br>
