<!-- Title -->
<h3
  style="color: var(--title-text-color); display: flex; justify-content: center"
  nz-typography
>
{{ 'GENERAL_INFO.TITLE' | translate }}
</h3>
<br />
<p
  style="
    color: var(--subtitle-text-color);
    display: flex;
    justify-content: center;
  "
  nz-typography
>
{{ 'GENERAL_INFO.DESCRIPTION' | translate }}</p>
<br />
<!-- Collapse -->
<nz-collapse>
    @for (panel of panels; track panel) {
      <nz-collapse-panel [nzHeader]="panel.name | translate " [nzActive]="panel.active" [nzDisabled]="panel.disabled">
        <p style="margin:0; color: var(--subtitle-text-color);">
          {{panel.description | translate }}
        </p>
      </nz-collapse-panel>
    }
  </nz-collapse>
  <br>
