<h3 style="color: var(--title-text-color); display: flex; justify-content: center;" nz-typography>
    Ankara (ESB) Seyehatin İçin Şehir Bilgilendirmesi
  </h3>
  <br>
  <h4 style="color: var(--subtitle-text-color); display: flex; justify-content: center;" nz-typography>
    Sanat, kültür ve konserleri yaşayın
  </h4>
  <br>
<!-- Old (nz-statistic) -->
<div nz-row [nzGutter]="[16,16]">
    <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
      <nz-card class="stat-card">
        <div>
          <nz-statistic nzValue="24.521 km²" [nzTitle]="'Yüz Ölçümü'"></nz-statistic>
        </div>
        <ng-template #loading><nz-skeleton [nzActive]="true"  [nzParagraph]="{ rows: 1 }"></nz-skeleton></ng-template>
      </nz-card>
    </div>
    <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
        <nz-card class="stat-card">
          <div>
            <nz-statistic nzValue=" 5,803,482" [nzTitle]="'Nüfus'"></nz-statistic>
          </div>
          <ng-template #loading><nz-skeleton [nzActive]="true"  [nzParagraph]="{ rows: 1 }"></nz-skeleton></ng-template>
        </nz-card>
      </div>
      <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
        <nz-card class="stat-card">
          <div>
            <nz-statistic nzValue="(+90) 312" [nzTitle]="'Telefon Kodu'"></nz-statistic>
          </div>
          <ng-template #loading><nz-skeleton [nzActive]="true"  [nzParagraph]="{ rows: 1 }"></nz-skeleton></ng-template>
        </nz-card>
      </div>
    <div nz-col class="gutter-row" nzXs="24" nzSm="24" nzMd="12" nzLg="8" nzXl="6">
      <nz-card class="stat-card">
        <div>
          <nz-statistic nzValue="İç Anadolu" [nzTitle]="'Bölge'"></nz-statistic>
        </div>
        <ng-template #loading><nz-skeleton [nzActive]="true"  [nzParagraph]="{ rows: 1 }"></nz-skeleton></ng-template>
      </nz-card>
    </div>
  </div>
  <br>
  <br>
<!-- P1 -->
<p style="color: var(--subtitle-text-color)" nz-typography>
    Ant Design, a design language for background applications, is refined by Ant
    UED Team. Ant Design, a design language for background applications, is
    refined by Ant UED Team. Ant Design, a design language for background
    applications, is refined by Ant UED Team. Ant Design, a design language for
    background applications, is refined by Ant UED Team. Ant Design, a design
    language for background applications, is refined by Ant UED Team. Ant Design,
    a design language for background applications, is refined by Ant UED Team.
  </p>
  <nz-divider></nz-divider>
<br>
<!-- Image List -->
<div style="display: flex; justify-content: space-around;">

@for (item of items; track $index) {
  <nz-card nzHoverable style="width: 30%" [nzCover]="coverTemplate">
    <nz-card-meta nzTitle="{{item.title}}" nzDescription="{{item.subtitle}}"></nz-card-meta>
  </nz-card>
  <ng-template #coverTemplate>
    <img alt="{{item.title}}" src="{{item.image}}" />
  </ng-template>
}
</div>

<br>
<!-- P2 -->
<h4 style="color: var(--subtitle-text-color); display: flex; justify-content: center;" nz-typography>
    Tarihin içinde gezinti
  </h4>
  <br>
  <p style="color: var(--subtitle-text-color)" nz-typography>
    Ant Design, a design language for background applications, is refined by Ant
    UED Team. Ant Design, a design language for background applications, is
    refined by Ant UED Team. Ant Design, a design language for background
    applications, is refined by Ant UED Team. Ant Design, a design language for
    background applications, is refined by Ant UED Team. Ant Design, a design
    language for background applications, is refined by Ant UED Team. Ant Design,
    a design language for background applications, is refined by Ant UED Team.
  </p>
  <nz-divider></nz-divider>
  <br>
  <!-- P3 -->
  <h4 style="color: var(--subtitle-text-color); display: flex; justify-content: center;" nz-typography>
    Tarihin içinde gezinti
  </h4>
  <br>
  <p style="color: var(--subtitle-text-color)" nz-typography>
    Ant Design, a design language for background applications, is refined by Ant
    UED Team. Ant Design, a design language for background applications, is
    refined by Ant UED Team. Ant Design, a design language for background
    applications, is refined by Ant UED Team. Ant Design, a design language for
    background applications, is refined by Ant UED Team. Ant Design, a design
    language for background applications, is refined by Ant UED Team. Ant Design,
    a design language for background applications, is refined by Ant UED Team.
  </p>
