<nz-card>
  <nz-spin *ngIf="loading" nzSimple></nz-spin>
  <h2 nz-typography>{{ 'CHECK_IN.TITLE' | translate }}</h2>
  <p nz-typography>
    {{ 'CHECK_IN.INSTRUCTIONS' | translate }}
  </p>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <label style="color: var(--title-text-color);" for="bookingCode">{{ 'CHECK_IN.BOOKING_CODE_LABEL' | translate }}*</label>
      <input type="text" formControlName="pnrNo" required />
    </div>

    <div class="input-group">
      <label style="color: var(--title-text-color);" for="lastName">{{ 'CHECK_IN.LAST_NAME_LABEL' | translate }}*</label>
      <input type="text" formControlName="lastName" required />
    </div>

    <button nz-button type="submit" [disabled]="form.invalid">{{ 'CHECK_IN.SUBMIT_BUTTON' | translate }}</button>
  </form>
</nz-card>
<br />

<!-- Tips -->
<div style="display: flex; flex-direction: column">
  <span nz-typography nzType="secondary">{{ 'CHECK_IN.TIP_1' | translate }}</span>
  <span nz-typography nzType="secondary">{{ 'CHECK_IN.TIP_2' | translate }}</span>
  <span nz-typography nzType="secondary">{{ 'CHECK_IN.TIP_3' | translate }}</span>
  <span nz-typography nzType="secondary">{{ 'CHECK_IN.TIP_4' | translate }}</span>
  <span nz-typography nzType="secondary">{{ 'CHECK_IN.TIP_5' | translate }}</span>
</div>
<br />
