
// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

// @primary-color: #1890ff;
/* You can add global styles to this file, and also import other style files */

:root {
    --primary-color: #1492d6;
    --secondary-color: #0689c5;
    --light-color: #c5c5c5;
    --info-color: #bae7ff;
    --success-color: #52c41a;
    --warning-color: #fa8c16;
    --danger-color: #ff4d4f;
    --content-color: #ffffff00;
  }

:root .dark-theme {
    --primary-color: #052332;
    --secondary-color: #03151e;
    --light-color: #3b3b3b;
    --info-color: #f40303;
    --success-color: #f40303;
    --warning-color: #f40303;
    --danger-color: #f40303;
  }