
// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

// @primary-color: #1890ff;
/* You can add global styles to this file, and also import other style files */

:root {
    --primary-color: #1492d6;
    --secondary-color: #0689c5;
    --light-color: #c5c5c5;
    --info-color: #bae7ff;
    --success-color: #419e13;
    --title-text-color: #000;
    --subtitle-text-color: rgb(37, 37, 37);
    --card-color: #fff;
    --card-sub-color: #f1eded;
    --tips-text-color: rgb(166, 164, 164);
    --announcement-color: #41b0ec;
    --edit-color: #c0c30e;
    --process-color: #1492d6; 
    --wait-color: #c5c5c5; 
    --bg-color: #F2F6FC;
    --delete-color: #a80a0a;
    --tr-color: #FAFAFA;
    --td-color: #fff;
  }

:root .dark-theme {
    --primary-color: #052332;
    --secondary-color: #03151e;
    --light-color: #3b3b3b;
    --info-color: #f40303;
    --success-color: #3b3b3b;
    --title-text-color: #fff;
    --subtitle-text-color: #e3e3e3;
    --card-color: #03151edd;
    --card-sub-color: #03151ed5;
    --tips-text-color: #e3e3e3;
    --announcement-color: #0c2a39e4;
    --edit-color: #63634c;
    --process-color: #e3e3e3c5; 
    --wait-color: #3b3b3b; 
    --bg-color: #052332;
    --delete-color: #493838;
    --tr-color: #212121;
    --td-color: #141414;
  }

  img {
    height: auto;
}