<!-- *** FOOTER *** -->
<nz-footer>
  <div class="footer">
    <div class="f1">
      <a href="https://portfolio-9ab74.web.app/">{{ 'FOOTER.FIELD1' | translate }}</a>
      |
      <a routerLink="/info/general-info">{{ 'FOOTER.FIELD2' | translate }}</a>
      |
      <a routerLink="/info/help-contact">{{ 'FOOTER.FIELD3' | translate }}</a>
      |
      <a routerLink="/info/faq">{{ 'FOOTER.FIELD4' | translate }}</a>
    </div>
    <div class="f2">
    </div>
    <div class="f3">
      <a routerLink="/">{{ 'FOOTER.FIELD5' | translate }}</a>
    </div>
  </div>
</nz-footer>
